<%= form_tag orders_path, method: :post do %>
  <% @products.each do |key, value| %>
  <h3><%= key %></h3>
    <% value.each do |product| %>
      <p>
        <%= check_box_tag "product_ids[]", product.id, false, class: "#{key}" %>
        <%= product.name %>
        -
        <%= product.price %>
      </p>
    <% end %>
  <% end %>
  <%= submit_tag "Make order" %>
<% end %>

<% if can? :create, @product %>
  <%= link_to 'Add product', new_week_day_product_path(@week_day.id) if @week_day.today_date == Date.today %>
<% end %>

